<!--F O O T E R-->
<footer class="text-bg-dark py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#educacion">Educacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#proyectos">Proyectos</a>
        </li>                        
    </ul>
    <p class="text-center text-warning">© 2022 Dario S. Gimenez</p>
</footer>